<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
 <title>News Homepages</title>
 <description>The latest screenshots worldwide</description>
 <link>https://palewi.re/docs/news-homepages/</link>
 <lastBuildDate>{{ now.strftime("%a, %d %b %Y %H:%M:%S %z") }}</lastBuildDate>
 <pubDate>{{ now.strftime("%a, %d %b %Y %H:%M:%S %z") }}</pubDate>
 {% for file in file_list %}
 <item>
  <title>{{ file.site_name }} at {{ file.mtime.strftime("%-I:%M %p") }} UTC on {{ file.local_time.strftime("%B %d, %Y") }}</title>
  <description>{{ file.local_time.strftime("%-I:%M %p") }} local time</description>
  <link>{{ file.url }}</link>
  <pubDate>{{ file.mtime.strftime("%a, %d %b %Y %H:%M:%S %z") }}</pubDate>
  <enclosure url="{{ file.url }}" length="{{ file.size }}" type="image/jpeg" />
 </item>
 {% endfor %}
</channel>
</rss>
