```{include} _templates/nav.html

```

# Who blocks OpenAI, Google AI and Common Crawl?

In total, {{ "{:,.0f}".format(disallow_count) }} of the {{ "{:,.0f}".format(site_count) }} news publishers surveyed by the [homepages.news](https://homepages.news) archive have instructed [OpenAI](https://en.wikipedia.org/wiki/OpenAI), [Google AI](https://en.wikipedia.org/wiki/Google_AI) or the non-profit [Common Crawl](https://en.wikipedia.org/wiki/Common_Crawl) to stop scanning their sites, representing {{ "{:,.1f}".format(disallow_percent) }}% of the sample.

The three organizations systematically crawl the web to gather the data that fuels [generative chatbots](https://en.wikipedia.org/wiki/Generative_artificial_intelligence) like [OpenAI's ChatGPT](https://en.wikipedia.org/wiki/ChatGPT) and [Google's Bard](https://en.wikipedia.org/wiki/Bard_(chatbot)). By opting out via the [robots.txt](https://en.wikipedia.org/wiki/Robots.txt) convention, publishers can request that their content be excluded.

The open-source system operated by [homepages.news](https://homepages.news/) gathers each news site's robots.txt file twice per day. This page continually updates with the latest results.

Here are the current totals for each crawler:

<style>
.table-container {
    overflow-x: auto;
}
caption {
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4px;
  font-size: 18px;
}
table.docutils {
  font-size: 16px;
  width: 100%;
  position: relative;
}
td.name {
  max-width: 200px;
}
table.docutils td.value,
table.docutils th.value {
  text-align: center;
}
table.docutils td.right,
table.docutils th.right {
  text-align: right;
}
thead th {
    position: sticky;
    top: 0;
}
</style>

<div class="table-container">
<table class="colwidths-auto docutils align-default">
  <tr>
    <th class="name head">Operator</th>
    <th class="head right">Opted out</th>
    <th class="head right">Percent</th>
  </tr>
  <tr>
    <td class="name">OpenAI</td>
    <td class="right">{{ "{:,.0f}".format(bot_counts['GPTBOT']) }}</td>
    <td class="right">{{ "{:,.1f}".format(bot_counts['GPTBOT'] / site_count * 100) }}%</td>
  </tr>
  <tr>
    <td class="name">Google AI</td>
    <td class="right">{{ "{:,.0f}".format(bot_counts['GOOGLE-EXTENDED']) }}</td>
    <td class="right">{{ "{:,.1f}".format(bot_counts['GOOGLE-EXTENDED'] / site_count * 100) }}%</td>
  </tr>
  <tr>
    <td class="name">Common Crawl</td>
    <td class="right">{{ "{:,.0f}".format(bot_counts['CCBOT']) }}</td>
    <td class="right">{{ "{:,.1f}".format(bot_counts['CCBOT'] / site_count * 100) }}%</td>
  </tr>
</table>
</div>

Here are the most recent results for each site. Opt outs are marked with the [🙅](https://emojipedia.org/person-gesturing-no) emoji.

<div class="table-container">
<table class="colwidths-auto docutils align-default">
 <thead>
  <tr>
    <th class="head">Site</th>
    <th class="head value">Country</th>
    <th class="head value">OpenAI</th>
    <th class="head value">Google AI</th>
    <th class="head value">Common Crawl</th>
  </tr>
 </thead>
 <tbody>
  {% for obj in site_list %}
  <tr>
    <td class="name">
      <a href="{{ obj.url }}">
        {{ obj.name }}
      </a>
    </td>
    <td class="value flag">
      <a href="https://palewi.re/docs/news-homepages/countries/{{ obj.country.lower() }}.html">
        {{ obj.flag }}
      </a>
    </td>
    <td class="value">{% if obj['GPTBOT']|length > 0 %}🙅{% endif %}</td>
    <td class="value">{% if obj['GOOGLE-EXTENDED']|length > 0 %}🙅{% endif %}</td>
    <td class="value">{% if obj['CCBOT']|length > 0 %}🙅{% endif %}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
</div>
