```{include} _templates/nav.html
```

# Who blocks OpenAI, Google AI and Common Crawl?

In total, {{ "{:,.0f}".format(disallow_count) }} of {{ "{:,.0f}".format(site_count) }} news publishers surveyed by the [homepages.news](https://homepages.news) archive have instructed [OpenAI](https://en.wikipedia.org/wiki/OpenAI), [Google AI](https://en.wikipedia.org/wiki/Google_AI) or the non-profit [Common Crawl](https://en.wikipedia.org/wiki/Common_Crawl) to stop scanning their sites, which is {{ "{:,.1f}".format(disallow_percent) }}% of the sample.

The three organizations systematically crawl the web to gather the data that, among other things, fuels [generative chatbots](https://en.wikipedia.org/wiki/Generative_artificial_intelligence) like [OpenAI's ChatGPT](https://en.wikipedia.org/wiki/ChatGPT) and [Google's Bard](https://en.wikipedia.org/wiki/Bard_(chatbot)). Publishers can request that their content be excluded by opting out via the [robots.txt](https://en.wikipedia.org/wiki/Robots.txt) convention.

The open-source system run by [homepages.news](https://homepages.news/) gathers each news site's robots.txt file twice per day. This page continually updates with the latest results.

Here are the current totals for each crawler.

<style>
table.docutils {
  font-size: 16px;
  width: 100%;
  position: relative;
}
table.docutils td.name {
  max-width: 200px;
}
table.docutils .center {
  text-align: center;
}
table.docutils .right {
  text-align: right;
}
table.docutils thead th {
    position: sticky;
    top: 0;
}
</style>

<div class="table-container">
<table id="operator-totals" class="colwidths-auto docutils align-default">
  <tr>
    <th class="name head">Operator</th>
    <th class="head right">Opt outs</th>
    <th class="head right">Percent</th>
  </tr>
  <tr>
    <td class="name">OpenAI</td>
    <td class="right">{{ "{:,.0f}".format(bot_counts['GPTBOT']) }}</td>
    <td class="right">{{ "{:,.1f}".format(bot_counts['GPTBOT'] / site_count * 100) }}%</td>
  </tr>
  <tr>
    <td class="name">Google AI</td>
    <td class="right">{{ "{:,.0f}".format(bot_counts['GOOGLE-EXTENDED']) }}</td>
    <td class="right">{{ "{:,.1f}".format(bot_counts['GOOGLE-EXTENDED'] / site_count * 100) }}%</td>
  </tr>
  <tr>
    <td class="name">Common Crawl</td>
    <td class="right">{{ "{:,.0f}".format(bot_counts['CCBOT']) }}</td>
    <td class="right">{{ "{:,.1f}".format(bot_counts['CCBOT'] / site_count * 100) }}%</td>
  </tr>
</table>
</div>

Here are the most recent results for each site. Opt outs are marked with the [🙅](https://emojipedia.org/person-gesturing-no) emoji.

<div class="table-container sticky-table-container">
<table id="site-list" class="colwidths-auto docutils align-default">
 <thead>
  <tr>
    <th class="head">Site</th>
    <th class="head center">Country</th>
    <th class="head center">OpenAI</th>
    <th class="head center">Google AI</th>
    <th class="head center">Common Crawl</th>
  </tr>
 </thead>
 <tbody>
  {% for obj in site_list %}
  <tr>
    <td class="name">
      <a href="{{ obj.url }}">
        {{ obj.name }}
      </a>
    </td>
    <td class="center flag">{{ obj.flag }}</td>
    <td class="center">{% if obj['GPTBOT']|length > 0 %}🙅{% endif %}</td>
    <td class="center">{% if obj['GOOGLE-EXTENDED']|length > 0 %}🙅{% endif %}</td>
    <td class="center">{% if obj['CCBOT']|length > 0 %}🙅{% endif %}</td>
  </tr>
  {% endfor %}
 </tbody>
</table>
</div>
