---
orphan: true
---

```{include} ../_templates/nav.html
```

# {{ site.name }}

![{{ site.name }}](https://archive.org/download/latest-homepages/{{ site.handle|lower }}.jpg)

| Attribute      | Value                                                                                                                                            |
| :------------- | :----------------------------------------------------------------------------------------------------------------------------------------------- |
| Site           | [{{ site.url }}]({{ site.url }})                                                                                                                 |
| RSS            | [🔗](https://palewi.re/docs/news-homepages/rss/sites/{{ site.handle.lower() }}.xml)                                                              |
| Twitter handle | [@{{ site.handle }}](https://www.twitter.com/{{ site.handle }})                                                                                  |
| Location       | {{ site.location }}                                                                                                                              |
| Timezone       | {{ site.timezone }}                                                                                                                              |
| Country        | [{{ site.country_name }}](https://palewi.re/docs/news-homepages/countries/{{ site.country|lower }}.html)
| Language       | [{{ site.language_name }}](https://palewi.re/docs/news-homepages/languages/{{ site.language|lower }}.html)
{% if site.bundle_list %}| Bundles        | {% for b in site.bundle_list %}<a href="../bundles/{{ b.slug }}.html">{{ b.name }}</a>{% if not loop.last %}, {% endif %} {% endfor %} |{% endif %}
