include README.md LICENSE CONTRIBUTING.md CODE_OF_CONDUCT.md SECURITY.md
recursive-include newshomepages/extensions *
recursive-include newshomepages/sources *
recursive-exclude extracts *
recursive-exclude notebooks *
recursive-exclude _site *
recursive-exclude _dist *
recursive-exclude tests *
