[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-twitter = "*"
click = "*"
pytz = "*"
internetarchive = "*"
python-slugify = "*"
python-telegram-bot = "*"
"discord.py" = "==1.7.3"
playwright = "==1.22.0"
savepagenow = "==1.2.2"
bs4 = "*"
html5lib = "*"
jinja2 = "*"
shot-scraper = "*"
pillow = "*"
aiohttp = ">=3.7.4"
pandas = "*"
altair = "*"
jupyterlab = "*"
altair-saver = "*"
selenium = "<4.3.0"
rich = "*"
iso3166 = "*"
python-iso639 = "*"
certifi = "*"
requests = "*"
retry = "*"
storysniffer = "*"
spacy = "*"
spectra = "*"

[dev-packages]
pre-commit = "*"
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
pytest = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
mypy = "*"
types-requests = "*"
types-python-slugify = "*"
types-pytz = "*"
types-pyyaml = "*"
sphinxcontrib-napoleon = "*"
sphinx-click = "*"
types-retry = "*"
storysniffer = "*"
ipywidgets = "*"
setuptools-scm = "*"
twine = "*"
xlwt = "*"
pytest-env = "*"
pytest-cov = "*"
pytest-optional-tests = "*"

[requires]
python_version = "3.9"
