[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shot-scraper = ">=0.0.12"
python-twitter = "*"
click = "*"
pytz = "*"
internetarchive = "*"
python-slugify = "*"
python-telegram-bot = "*"
"discord.py" = "*"
playwright = "==1.14.1"
savepagenow = "==1.2.2"
bs4 = "*"
html5lib = "*"
jinja2 = "*"

[dev-packages]
pre-commit = "*"
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
pytest = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
mypy = "*"
types-requests = "*"
types-python-slugify = "*"
types-pytz = "*"
types-pyyaml = "*"
sphinxcontrib-napoleon = "*"
sphinx-click = "*"

[requires]
python_version = "3.9"
