[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pytz = "*"
internetarchive = "*"
python-slugify = "*"
playwright = "*"
bs4 = "*"
html5lib = "*"
jinja2 = "*"
shot-scraper = "*"
pillow = "*"
pandas = "*"
rich = "*"
iso3166 = "*"
python-iso639 = "*"
requests = "*"
retry = "*"
storysniffer = "*"
spacy = "*"
spectra = "*"
"mastodon.py" = "*"
sqlite-robotstxt = "*"

[dev-packages]
pre-commit = "*"
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
pytest = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
mypy = "*"
types-requests = "*"
types-python-slugify = "*"
types-pytz = "*"
types-pyyaml = "*"
sphinxcontrib-napoleon = "*"
sphinx-click = "*"
types-retry = "*"
storysniffer = "*"
ipywidgets = "*"
setuptools-scm = "*"
twine = "*"
xlwt = "*"
pytest-env = "*"
pytest-cov = "*"
pytest-optional-tests = "*"
pytest-vcr = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
