body {
    color: #eee;
    background: rgb(41, 42, 45);
    font-family: sans-serif;
}

.container {
    padding: 10px 20px;
    width: 232px;
}

a {
    color: rgb(220, 149, 255);
    text-decoration: underline;
}

a:hover {
    color: rgb(124, 66, 178);
}

h2 {
    margin-top: 1px;
}

p {
    font-size: 13px;
    line-height: 17px;
}

.logo {
    width: 170px;
}
