<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
 <title>Springfield News-Leader</title>
 <description>The latest screenshots of the Springfield News-Leader homepage at https://www.news-leader.com/</description>
 <link>https://homepages.news</link>
 <lastBuildDate>Fri, 14 Oct 2022 00:34:27 +0000</lastBuildDate>
 <pubDate>Fri, 14 Oct 2022 00:34:27 +0000</pubDate>
 
 <item>
  <title>3:13 PM local time on October 13, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-13T15:13:24.065218-05:00.jpg</link>
  <pubDate>Thu, 13 Oct 2022 20:13:27 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-13T15:13:24.065218-05:00.jpg" length="265330" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:24 AM local time on October 13, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-13T02:24:23.730747-05:00.jpg</link>
  <pubDate>Thu, 13 Oct 2022 07:24:26 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-13T02:24:23.730747-05:00.jpg" length="244663" type="image/jpeg" />
 </item>
 
 <item>
  <title>1:46 PM local time on October 12, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-12T13:46:55.854900-05:00.jpg</link>
  <pubDate>Wed, 12 Oct 2022 18:46:58 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-12T13:46:55.854900-05:00.jpg" length="251174" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:06 AM local time on October 12, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-12T03:06:42.818726-05:00.jpg</link>
  <pubDate>Wed, 12 Oct 2022 08:06:45 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-12T03:06:42.818726-05:00.jpg" length="272036" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:16 PM local time on October 11, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-11T14:16:33.676632-05:00.jpg</link>
  <pubDate>Tue, 11 Oct 2022 19:16:36 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-11T14:16:33.676632-05:00.jpg" length="229359" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:09 AM local time on October 11, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-11T03:09:03.983287-05:00.jpg</link>
  <pubDate>Tue, 11 Oct 2022 08:09:12 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-11T03:09:03.983287-05:00.jpg" length="248539" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:11 PM local time on October 10, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-10T15:11:16.787985-05:00.jpg</link>
  <pubDate>Mon, 10 Oct 2022 20:11:19 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-10T15:11:16.787985-05:00.jpg" length="245865" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:22 AM local time on October 10, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-10T03:22:03.050919-05:00.jpg</link>
  <pubDate>Mon, 10 Oct 2022 08:22:04 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-10T03:22:03.050919-05:00.jpg" length="264717" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:56 PM local time on October 09, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-09T14:56:12.468030-05:00.jpg</link>
  <pubDate>Sun, 09 Oct 2022 19:56:15 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-09T14:56:12.468030-05:00.jpg" length="271730" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:29 AM local time on October 09, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-09T02:29:38.298388-05:00.jpg</link>
  <pubDate>Sun, 09 Oct 2022 07:29:41 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-09T02:29:38.298388-05:00.jpg" length="275249" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:05 PM local time on October 08, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-08T14:05:20.666962-05:00.jpg</link>
  <pubDate>Sat, 08 Oct 2022 19:05:24 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-08T14:05:20.666962-05:00.jpg" length="263535" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:10 AM local time on October 08, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-08T02:10:50.052258-05:00.jpg</link>
  <pubDate>Sat, 08 Oct 2022 07:10:52 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-08T02:10:50.052258-05:00.jpg" length="238723" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:23 PM local time on October 07, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-07T15:23:01.420935-05:00.jpg</link>
  <pubDate>Fri, 07 Oct 2022 20:23:04 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-07T15:23:01.420935-05:00.jpg" length="288870" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:51 AM local time on October 07, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-07T02:51:09.520643-05:00.jpg</link>
  <pubDate>Fri, 07 Oct 2022 07:51:16 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-07T02:51:09.520643-05:00.jpg" length="272340" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:29 PM local time on October 06, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-06T15:29:07.668361-05:00.jpg</link>
  <pubDate>Thu, 06 Oct 2022 20:29:09 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-06T15:29:07.668361-05:00.jpg" length="235154" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:19 AM local time on October 06, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-06T02:19:36.137242-05:00.jpg</link>
  <pubDate>Thu, 06 Oct 2022 07:19:38 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-06T02:19:36.137242-05:00.jpg" length="245345" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:49 PM local time on October 05, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-05T15:49:09.655693-05:00.jpg</link>
  <pubDate>Wed, 05 Oct 2022 20:49:11 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-05T15:49:09.655693-05:00.jpg" length="288402" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:28 AM local time on October 05, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-05T02:28:09.738082-05:00.jpg</link>
  <pubDate>Wed, 05 Oct 2022 07:28:11 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-05T02:28:09.738082-05:00.jpg" length="256383" type="image/jpeg" />
 </item>
 
 <item>
  <title>3:06 PM local time on October 04, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-04T15:05:59.496329-05:00.jpg</link>
  <pubDate>Tue, 04 Oct 2022 20:06:03 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-04T15:05:59.496329-05:00.jpg" length="266901" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:51 AM local time on October 04, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-04T02:51:38.482155-05:00.jpg</link>
  <pubDate>Tue, 04 Oct 2022 07:51:40 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-04T02:51:38.482155-05:00.jpg" length="259515" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:08 PM local time on October 03, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-03T14:08:44.804172-05:00.jpg</link>
  <pubDate>Mon, 03 Oct 2022 19:08:49 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-03T14:08:44.804172-05:00.jpg" length="270952" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:26 AM local time on October 03, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-03T02:26:17.720085-05:00.jpg</link>
  <pubDate>Mon, 03 Oct 2022 07:26:21 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-03T02:26:17.720085-05:00.jpg" length="260362" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:37 PM local time on October 02, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-02T14:36:58.564558-05:00.jpg</link>
  <pubDate>Sun, 02 Oct 2022 19:37:01 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-02T14:36:58.564558-05:00.jpg" length="325398" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:13 AM local time on October 02, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-02T02:13:43.820855-05:00.jpg</link>
  <pubDate>Sun, 02 Oct 2022 07:13:46 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-02T02:13:43.820855-05:00.jpg" length="280778" type="image/jpeg" />
 </item>
 
 <item>
  <title>2:37 PM local time on October 01, 2022</title>
  <link>https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-01T14:37:19.416394-05:00.jpg</link>
  <pubDate>Sat, 01 Oct 2022 19:37:21 +0000</pubDate>
  <enclosure url="https://archive.org/download/springfieldnl-2022/springfieldnl-2022-10-01T14:37:19.416394-05:00.jpg" length="257021" type="image/jpeg" />
 </item>
 
</channel>
</rss>