interactions:
- request:
    body: url=https%3A%2F%2Fwww.reuters.com%2F&capture_screenshot=1&skip_first_archive=1&capture_all=1
    headers:
      Authorization:
      - LOW 07OIbveBa80rn4JQ:UXFP8z9UI3RcgA4u
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://web.archive.org/save
  response:
    body:
      string: '{"url":"https://www.reuters.com/","job_id":"spn2-3d0e07f14489a991b2c591de75b4d6a3566b7722"}'
    headers:
      Content-Type:
      - application/json
      X-NA:
      - '0'
      X-NID:
      - '-'
      X-RL:
      - '0'
      X-location:
      - /save
      x-app-server:
      - wwwb-app215
      x-tr:
      - '351'
      x-ts:
      - '200'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://web.archive.org/save/status/spn2-3d0e07f14489a991b2c591de75b4d6a3566b7722
  response:
    body:
      string: '{"counters":{"embeds":256,"outlinks":75},"duration_sec":27.58,"http_status":200,"job_id":"spn2-3d0e07f14489a991b2c591de75b4d6a3566b7722","original_url":"https://www.reuters.com/","outlinks":["https://static.reuters.com/resources/media/editorial/20210405/DiversityReportApril2021.pdf","https://www.reuters.com/newsletters/reuters-one-essential-read/","https://reuters.com/newsletters/","https://www.reuters.com/science/new-tests-confirm-antiquity-ancient-human-footprints-new-mexico-2023-10-05/","https://www.reuters.com/legal/","https://www.reuters.com/markets/quote/.DJI/","https://www.reuters.com/differentiator/","https://www.reuters.com/world/","ht[...]
