```{include} _templates/nav.html
```

# Bundle directory

Sites are grouped into {{ bundle_list|length }} bundles based on location, ideology and topic.

| Bundle  | RSS |
| :-----  | :-- |
{% for obj in bundle_list -%}
|[{{ obj.name }}](https://palewi.re/docs/news-homepages/bundles/{{ obj.slug }}.html)|[🔗](https://palewi.re/docs/news-homepages/rss/bundles/{{ obj.slug }}.xml)|
{% endfor %}
