```{include} _templates/nav.html
```

# Sources

The archiving routine is currently capturing {{ site_list|length }} sites.

| Site  | Latest screenshot |
| :---- | :---------------: |
{% for obj in site_list -%}
|[{{ obj.name }}]({{ obj.url }})|[🔗](https://raw.githubusercontent.com/palewire/news-homepages/main/latest-screenshots/{{ obj.handle|lower }}.jpg)|
{% endfor %}
