python-twitter
click
pytz
internetarchive
python-slugify
python-telegram-bot
discord.py
playwright
savepagenow
bs4
html5lib
jinja2
shot-scraper
pillow
altair
pandas
altair-saver
jupyterlab
rich
requests
retry
certifi
python-iso639
iso3166
storysniffer
tldextract

sphinx
myst-parser
sphinxcontrib-napoleon
sphinx-click
