click
pytz
internetarchive
python-slugify
playwright
bs4
html5lib
jinja2
shot-scraper
pillow
pandas
rich
requests
retry
certifi
python-iso639
iso3166
storysniffer
tldextract
spectra
spacy

sphinx
myst-parser
sphinx-click
