python-twitter
click
pytz
internetarchive
python-slugify
python-telegram-bot
discord.py
playwright
savepagenow
bs4
html5lib
jinja2
shot-scraper
csvkit
pillow

sphinx
myst-parser
sphinxcontrib-napoleon
sphinx-click
